<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sofronov.Properties.Settings.sofronovConnectionString"
            connectionString="Data Source=DESKTOP-1FDLUB9\SQLEXPRESS;Initial Catalog=sofronov;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>